.Container {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--gray-200);
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.938rem;

    background-color: var(--gray-400);
    border-radius: 999px;
}

.Container span {
    padding: 0.125rem 0.5rem;
}